<p>Dear <%= user.username %></p>

<p>You have been registered to LAYA, the accessible learning platform! This has been
    done by an administrator. Your password is: </p>

<p><%= pwd %></p>

<p>Use it for your first login, then immediately change it. Furthermore,
    please verify your e-mail address by clicking on the link below:</p>

<strong><a href="<%= protocol + '://' + host + (port? `:${port}`: '') + '/#/verify?uid=' + user.id +
    '&token=' + user.verificationToken %>"><%= protocol + '://' + host + (port? `:${port}`: '') + '/#/verify?uid=' + user.id +
        '&token=' + user.verificationToken %></a></strong>

<p>If you don't want to contribute to LAYA, you don't have to do anything. We will
    delete unverified accounts after a while.</p>
