<p>Dear <%= username %></p>

<p>You have been promoted! This action has been done by an administrator. Your new role is:</p>

<p><%= role.replace(/\w/, c => c.toUpperCase()) %></p>

<p>You can now create and edit courses. Hop on to LAYA and try it out!</p>

<p>We wish you ongoing fun and success using LAYA!</p>
