<p>Dear <%= username %></p>

<p>Your password has been reset. This might be at your own action or by an admin.</p>

<p>This is your new password:</p>

<p><%= pwd %></p>

<p>Copy it and use it to login to LAYA. Please don't forget to change the password after you logged on.</p>

<p>We wish you ongoing fun and success using LAYA!</p>
