<p>Dear <%= user.username %></p>

<p>Your password has been reset. This might be at your own action or by an admin.</p>

<p>Click on the following link to set a new password:</p>

<strong><a href="<%- `http://${host}/#/reset-password?uid=${user.id}&token=${user.verificationToken}` %>">
        <%- `http://${host}/#/reset-password?uid=${user.id}&token=${user.verificationToken}` %>
</a></strong>

<p>If you didn't reset your password, please get in contact with the LAYA administrator.</p>

<p>We wish you ongoing fun and success using LAYA!</p>
